<!DOCTYPE html>

<HTML lang="jp">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/img/favicon.png" >
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='main.css')}}"> -->

    <title>企業情報検索システム</title>
</head>

<body onload="initial();">
    <div class="container-fluid">
        <div id="title">
            <h1>企業情報検索システム</h1>
        </div>
    </div>

    <div id="app">
        <div id="search_con">
            <input v-model="s_n_word" placeholder="検索したい企業" id="sbox">
            <input v-model="s_g_word" placeholder="検索したい業種" id="sbox">
            <!-- <p>Message is: {{ searchword }}</p> -->
            <button id="sbtn" v-on:click="search()">検索</button>

            <p id="search_now">
                &nbsp;&nbsp;&nbsp;&nbsp;企業キーワード: {{ n_word }}<br>
                &nbsp;&nbsp;&nbsp;&nbsp;業種キーワード: {{ g_word }}
            </p>


            <div id="search_result">
                <h3 id="search_result">検索結果</h3>

                <button id="dlbtn" v-on:click="csvdl()">ダウンロード</button>
            </div>
        </div>
        <div v-for="(result, index) in results" id="search_content">
            <div id="search_title">
                <div id="search_no">{{ index + 1 }}</div>
                <button class="btn btn-default" data-toggle="modal" v-bind:data-target="'#my-detail-modal' + index" v-bind:data-whatever="index" id="search_btn">{{ result.body.name }}</button>
            </div>
        </div>

        <template v-for="(result, index) in results">
            <div v-bind:id="'my-detail-modal' + index" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detail-modal-label" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="detail-modal-label">企業情報詳細</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th class="m_title">企業名</th>
                                        <td class="m_body">{{ result.body.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>業種</th>
                                        <td>{{ result.body.gyousyu }}</td>
                                    </tr>
                                    <tr>
                                        <th>売上高</th>
                                        <td>{{ result.body.uriage }}</td>
                                    </tr>
                                    <tr>
                                        <th>営業利益</th>
                                        <td>{{ result.body.eigyo_rieki }}</td>
                                    </tr>
                                    <tr>
                                        <th>経常利益</th>
                                        <td>{{ result.body.keizyo_rieki }}</td>
                                    </tr>
                                    <tr>
                                        <th>純利益</th>
                                        <td>{{ result.body.zyun_rieki }}</td>
                                    </tr>
                                </table>
                        </div>  <!-- eod of modal-body -->

                    </div>
                </div>
            </div>
        </template>










    </div>

    <script type="text/javascript" src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/axios.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/main.js"></script>
</body>